.social{
    display: flex;
}

.social div{
    background: red;
    width: 100%;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    background-color: rgba(255,255,255,0.27);
    color: #eaf0fb;
    text-align: center;
    padding-top: 10px;
}
.social div:hover{
    background-color: rgba(255,255,255,0.47);
}