.SignupBox, .VerifyBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.form h2{
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
}

.form h3 {
    color: #ffffff;
    font-weight: 600;
}

.form_input {
    margin-bottom: 20px;
}

.name {
    display: flex;
    flex-direction: row;
    
}

.form label{
    display: block;
    margin-top: 20px;
    color: #ddd6cb;
    font-weight: bold;
}


.form input{
    display: flex;
    height: 30px;
    width: 100%;
    color: #ddd6cb;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 300;
}

.form button{
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover{
    background-color: #282c34;
    color: #ddd6cb;
}

.form hr {
    margin: 7 0 7 0;
    width: 100%;
}
